<!-- templates/page3.html -->
{% extends 'base.html' %}

{% block title %}[Work] Taskfile{% endblock %}

{% block content %}
<div class="container">
    <h2>[Work] Taskfile</h2>
    <div>
        <p>Привет, <code>%username%</code>! Есть такая примитивная утилита автоматизации жизни любого DevOps и SRE как
            make, которая настраивается через Makefile и позволяет делать разные вещи. Но знаешь ли ты про Taskfile и
            утилиту task?</p>
        </br>
        <p>
            <a href="https://jtprog.ru/taskfile/">Оригинал статьи</a>
        </p>
    </div>

</div>
{% endblock %}
