<!-- templates/page2.html -->
{% extends 'base.html' %}

{% block title %}[Opinion] Обучение и образование{% endblock %}

{% block content %}
<div class="container">
    <h2>[Opinion] Обучение и образование</h2>
    <div>
        <p>Привет, <code>%username%</code>! Я внезапно для себя вдруг начал довольно много учиться именно официально – я
            студент в одном универе, студент в другом универе. Давай по-рассуждаем на тему образования в целом.</p>
        </br>
        <p>
            <a href="https://jtprog.ru/education/">Оригинал статьи</a>
        </p>
    </div>
</div>
{% endblock %}
